/*This is the style for the p element that displays
"DVD order form" and has the id "pageTitle". The font-family
indicates that courier, helvetica, or verdana will be chosen
depending on browser support, and if no browser supports
these fonts, then a simple sans-serif font will be used.
The font-size is large, so the title stands out.
The font-weight is 900, which bolds the text.
The text-indent is 50px, which indents the text slightly
from the left of the page.
The color is a hex code which displays the font's color.*/
#pageTitle {
    font-family: Courier, Helvetica, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 900;
    text-indent: 50px;
    color: #6460f0;
}

.pageHeader {
    background-color: #b6ecfb; /*Light blue background*/
    padding: 20px; /*Add 20 pixels of padding to the top, bottom, right & left*/
    border-radius: 25px; /*Round the border edges*/
}

/*This styling applies to all elements with the class attribute equal to
"pageText".
The font-family indicates that courier, helvetica, or verdana will be chosen
depending on browser support, and if no browser supports these fonts, then
a simple sans-serif font will be used.
The font-size is medium, so it is the same size as the labels.
The color specifies the text color, which is the same as all of the
text on the page.*/
.pageText {
    font-family: Courier, Helvetica, Verdana, sans-serif;
    font-size: medium;
    color: #6460f0;
}

/*This is the styling for the "Add to Cart" buttons.
The background-color specifies the color of the button.
The font-size is 15px, which is the size of the "Submit" text on the button.
The font-weight is bold so it stands out.
The color rule applies to the color of the "Submit" text, which is the same
color as the text on the entire page.
The font-family indicates the browser will choose courier, helvetica, or verdana
depending on browser support, or will choose a simple sans-serif font.
The border-radius rounds the edges of the button slightly.
The transition property specifies the CSS3 transition for the height and width
properties will take 2 seconds; the transition-timing-function property specifies
the transition will be linear.*/
.buttonStyles {
    background-color: #a4f9f7;
    font-size: 15px;
    font-weight: bold;
    color: #6460f0;
    font-family: Courier, Helvetica, Verdana, sans-serif;
    border-radius: 4px;
    transition: width 2s, height 2s;
    transition-timing-function: linear;
}

/*This applies to the table with the class "tableStyle", which is the
table that displays the DVDs.
The width is set to 75%, so it takes up 75% of the browser display.
Additionally, the margin-left and margin-right properties are set
to auto, so the table is centered on the page.*/
.tableStyle {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/*This applies to each table row when the cursor "hovers" over a row.
It changes the background color to a light-grey blue.*/
tr:hover {
    background-color: #c7e0fa;
}

/*This applies to the table columns with the corresponding classes,
which are the title, price, submit, and cover columns. 
It aligns the text to the center.*/
.priceColumn, .titleColumn, .submitColumn, .imageColumn {
    text-align: center;
}

/*This applies to the table columns with the corresponding classes,
which are the title, price, submit, and cover columns.
It makes each cell have a height of 40px, and a width of 25% with
respect to other cells.*/
td.titleColumn, td.priceColumn, td.submitColumn, td.imageColumn {
    height: 40px;
    width: 15%;
}

/*This applies to the th elements within the table that have the class
"tableHeaders." It makes each th element have a height of 40px.*/
.tableHeaders {
    height: 40px;
}

/*This styles the table, table headers, and table data of each table row
in the table on index.jsp. It creates a solid border with a blue color,
so the table itself, the table headers, and every record of the table has
a border. The color property specifies the color of the text in the table,
which is the same color as the text on the rest of the page.
*/
table, th, td {
   border: 1px solid #42ebe8;
   color: #6460f0;
}

/*A simple class which is used to align the text of an element with this class
to the center.*/
.centerText {
    text-align: center;
}

/*This styles the DVD covers, so that each image has a height of
150px and width of 100px.
The object-fit cover property ensures that the images maintian
their aspect ratio.
*/
.movieImages {
    height: 150px;
    width: 100px;
    object-fit: cover;
}

/*For the "Add to Cart" transition. When the user hovers over one of the
"Add to Cart" buttons, the width changes to 200px, the height changes to
75px, the font-size changes to 20px, and the background color changes
to a green color.*/
input.buttonStyles:hover {
    width: 200px;
    height: 75px;
    font-size: 20px;
    background-color: #50f91f;
}
